footer{
    padding: 7rem 15rem;
    background-image: url(/assets/images/footernew.png);
    background-position: center;
    background-size: cover;
}

.name-footer{
    font-family: 'Lora', serif; 
    text-align: center; 
    color: black;
    text-transform: uppercase; 
    margin-left: 70px; 
    font-size: 40px; 
    letter-spacing: 3px; 
    font-weight: 400; 
}

footer p{
    font-size: 22px; 
    letter-spacing: 3px; 
    font-weight: 100; 
    color: black
}

.container-footer{
    display: flex; 
    align-items: center; 
    flex-direction: row; 
    justify-content: space-between;
}