footer{
    padding: 7rem 15rem;
    background-image: url(/assets/images/footernew.png);
    background-position: center;
    background-size: cover;
}

footer h3{
    font-family: 'Lora', serif; 
    text-align: center; 
    color: black;
    text-transform: uppercase; 
    margin-left: 70px; 
    font-size: 40px; 
    letter-spacing: 3px; 
    font-weight: 400; 
}

footer p{
    font-size: 22px; 
    letter-spacing: 3px; 
    font-weight: 100; 
    color: black
}