:root {
    --primary-bg-color: #FEF0ED;
    --border-color: #28292E;

    --title-color: #362623;
    --text-color: #362623;
    --fundo-elementos: #FDAFAD;
    --fundo-rosa-elementos: #F25174;
    --fundo-rosa-elementos-light: #f0859c;
}

@font-face {
    font-family: 'bright'; /* Dê um nome único para sua fonte */
    src: url('/assets/fonts/Bright\ DEMO.otf') format('opentype'); /* Caminho e formato do seu arquivo */
    font-weight: normal; /* Opcional: se não for um peso específico */
    font-style: normal;  /* Opcional: se não for um estilo específico */
}

@font-face {
    font-family: 'sofia'; /* Dê um nome único para sua fonte */
    src: url('/assets/fonts/sofia-pro/Sofia\ Pro\ Regular\ Az.otf') format('opentype'); /* Caminho e formato do seu arquivo */
    font-weight: normal; /* Opcional: se não for um peso específico */
    font-style: normal;  /* Opcional: se não for um estilo específico */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sofia", sans-serif;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff8f8 ;
}

