.containerrr {
            cursor: pointer;
            width: 400px; /* Largura do contêiner */
            height: 250px; /* Altura do contêiner */
            background-image: url('/assets/images/backgroundskyroxo.jpg'); /* A imagem que você quer que apareça */
            background-size: cover;
            background-position: center;
            -webkit-mask-image: url('/assets/images/sky.png'); /* Sua imagem preta como máscara */
            mask-image: url('/assets/images/sky.png'); /* Para compatibilidade com outros navegadores */
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            transition: 0.7s ease-in-out;
            margin-bottom: 50px;
            filter: brightness(1.3);
        }

        .nav-mob{
            display: none;
        }


        footer .icons{
            display: flex; 
            align-items: center; 
            justify-content: center; 
            cursor: pointer;
            padding: .7rem; 
            background: linear-gradient(180deg,#d9bedd, #B789E1);
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            transition: 0.5s linear;
        }

        footer .icons img{
            width: 25px;
        }

        footer .icons:hover{
            transform: translateY(-10px);
        } 