@media (max-width:768px) {
    .header-desktop{
        position: relative;
    }

    .nav-container{
        display: none;
    }

    .header-desktop{
        justify-content: center;
        padding: 1rem 6rem;
    }

    main{
        padding: 7rem 1.5rem;
    }

    .main-sob{
        width: 100%;
        padding: 2rem;
    }

    main h1{
        font-size: 1.225rem;
        text-align: center;
    }

    .containerrr{
        max-width: 300px;
        margin-bottom: 55px;
    }
    
    .btm-explore{
       margin-top: 10px;
    }

    .main-software{
        flex-direction: column;
        gap: 0;
    }

    .container-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .list-formation{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .core{
        grid-template-columns: repeat(1, 1fr);
    }

    .soft{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        padding: 3rem 1.5rem;
        background-image: url(/assets/images/footernew.png);
        background-position: center;
        background-size: cover;
    }

    .container-footer{
        flex-direction: column;
        gap: 15px;
    }

    .name-footer{
        font-size: 35px;
        margin: 0;
    }

    footer p{
        font-size: 1rem;
    }
}


@media (max-width:425px){

    .main-sob {
        padding: 2rem 1.5rem;
    }

    .arrow {
        margin-top: 220px;
    }

    .container-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }

    .health-bar-container {
        width: 60px;
        height: 6px;
        background-color: #ddd;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #bbb;
    }

    .container-icons img {
        width: 60px;
    }

    #fig{
        width: 40px;
    }

    .text-bottom{
        font-size: 13px;
    }

    .list-formation {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-coresoft{
        flex-direction: column;
    }

    .coresoft{
        width: 100%;
    }

    /* menu mobile */



    .itens-nav a {
        font-size: .825rem;
    }

    footer{
        margin-bottom: 3rem;
    }
}