.sob{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0 10px;
}

.card-sob{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    border-radius: 20px;
    background-color: #ff9fbf;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 1rem 1.9rem;
    color: white;
}

.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sob h2{
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    text-shadow: none;
}


.card-sob p{
    max-width: 310px;
    font-weight: 500;
    text-align: justify;
}

span{
    font-weight: 900;
}

.img-about{
    width: 170px;
    border-radius: 100px;
}


/* Estilo para as seções Parallax */
.parallax-section {
    background-attachment: fixed; /* O segredo do efeito parallax! */
    display: flex; /* Para centralizar o H1 */
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    color: white;
    padding: 1rem;
}

.parallax-section h2 {
    font-size: 2.225em;
    margin: 40px 0;
    font-weight: 700;
}

.container-cardservices{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card-services{
    display: flex;
    align-items: center;
    justify-content:start;
    text-align: center;
    color: black;
    gap: 30px;
    width: 250px;
    padding: 1rem 1rem;
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    border-radius: 10px;
    font-weight: 500;
}

.card-services img{
    width: 25px;
}

/* Imagens para cada seção */
.parallax-one {
    position: relative;
   background-image: url(/assets/images/backgroundskyroxo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.parallax-two {
    background-image: url(/assets/images/backnuvens.jpg);; /* Imagem de exemplo 2 */
}

.parallax-three {
    background-image: url(/assets/images/backnuvens.jpg); /* Imagem de exemplo 3 */
}

/* Estilo para o conteúdo entre as seções parallax */
.content {
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    color: #535353;
    padding: 50px 20px;
    font-size: 1.2em;
}


.about-icons{
    display: flex;
    align-items: center; 
    gap: .85rem; 
}

.description-form{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin-left: 1.25rem;
    margin-top: .25rem;
}

.margin-bot{
    margin-bottom: 1rem;
}

.main-software{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; gap: 100px; 
    margin: 20px 0;
}

.main-sob{
    position: relative; 
    z-index: 2;  
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
    border-radius: 15px; 
    max-width: 850px;
    padding: 3rem;
    backdrop-filter: blur(5px);
}

.formation{
    display: flex; 
    flex-direction: column; 
    margin-bottom: 30px; 
    padding-bottom: 20px;
}

.list-formation{
    display: grid;
    grid-template-columns: repeat(2, fit-content(50%));
    column-gap: 200px;
    row-gap: 14px;
}

.core{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.soft{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.marginleft-descriptionform{
    margin-left: 20px;
}

.container-coresoft{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.title-sob .bi{
    font-size: 1.8rem; 
    margin-right: .8rem;
}

.soft-margin{
    margin-left: 3rem;
}