.sob{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0 10px;
}

.card-sob{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 99%;
    border-radius: 20px;
    background-color: #d44362cf;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    color: white;
}

.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sob h2{
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    text-shadow: none;
}


.card-sob p{
    font-weight: 500;
    text-align: justify;
}

span{
    font-weight: 900;
}

.img-about{
    width: 170px;
    border-radius: 100px;
}


/* Estilo para as seções Parallax */
.parallax-section {
    position: relative; /* Necessário para posicionar o texto */
    height: 550px; /* Altura da sua seção parallax */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-attachment: fixed; /* O segredo do efeito parallax! */
    display: flex; /* Para centralizar o H1 */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.parallax-section h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para o texto ficar mais visível */
}

/* Imagens para cada seção */
.parallax-one {
    background-image: url(/assets/images/backnuvens.jpg); /* Imagem de exemplo 1 */
}

.parallax-two {
    background-image: url(/assets/images/backnuvens.jpg);; /* Imagem de exemplo 2 */
}

.parallax-three {
    background-image: url(/assets/images/backnuvens.jpg); /* Imagem de exemplo 3 */
}

/* Estilo para o conteúdo entre as seções parallax */
.content {
    background-image: url('https://picsum.photos/id/237/1920/1080');
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 50px 20px;
    font-size: 1.2em;
}