header{
    padding: 1rem;
    animation: fadetopbot 1.2s ease-in-out forwards;
    animation-delay: 200ms;
}

.container{
    padding: 0 1rem;
}

.title-header{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--title-color);
}

.text-light{
    color: var(--link-color);
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 30px;
}

img{
    width: 390px;
}

nav{
    position: relative;
    top: -20px;
    width: 100%;
}

.chibi{
    animation: fade 1.3s ease-in-out forwards;
    animation-delay: 700ms;
}

.nav-container ul{
    display: flex;
    gap: 17px;
    color: white;
    max-width: 95%;
    padding: 5px; 
    background-color: #ffb7c7;
    border-radius: 0 15px 15px 0;
    animation: slidefade 1.2s ease-out;
    animation-delay: 200ms;
}

@keyframes slidefade {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


.itens-nav{
    background-color: #ff9c9a;
    padding: 2px 10px;
    border-radius: 7px;
    font-weight: 600;
    font-size: .9rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.itens-nav:hover{
    background-color: var(--fundo-rosa-elementos);
}

.itens-nav a{
    color: white;
}



.itens-nav:nth-child(1){
    animation: slidefade 0.5s ease-in-out forwards;
    animation-delay: 1300ms;
}
.itens-nav:nth-child(2){
    animation: slidefade 0.5s ease-in-out forwards;
    animation-delay: 1400ms;
}
.itens-nav:nth-child(3){
    animation: slidefade 0.5s ease-in-out forwards;
    animation-delay: 1500ms;
}
.itens-nav:nth-child(4){
    animation: slidefade 0.5s ease-in-out forwards;
    animation-delay: 1600ms;
}

.links{
    opacity: 0;
}

.links:nth-child(1){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 1400ms;
}
.links:nth-child(2){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 1500ms;
}
.links:nth-child(3){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 1600ms;
}


.bg-rosa{
    background-color: var(--fundo-rosa-elementos);
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

li{
    cursor: pointer;
}

li .bi{
    margin-right: 10px;
}

li .bi, li .t{
    font-size: .9rem;
    font-weight: 700;
    color: #f3aaba;
    transition: 0.5s ease-in-out;
}

li:hover .t,
li:hover .bi {
    color: var(--fundo-rosa-elementos);
}

li .t{
    color: #98d8ff;
    text-transform: lowercase;
    font-weight: 900;
}


.container-links{
    position: relative; /* Essencial para posicionar o ::after */
    margin-bottom: 30px;
}

.container-links::after{
    content: ''; /* Essencial para o pseudo-elemento ser renderizado */
    position: absolute;
    bottom: 0; /* Posiciona a linha na parte inferior da div */
    left: 0;
    width: 100%; /* A linha terá a largura total da div */
    height: 1px; /* Espessura da linha */
    background-color: #ffced8; /* Cor da linha (pode ser qualquer cor que combine com seu design) */
    /* Transform para mover a linha para baixo */
    transform: translateY(7px); /* Move a linha 20px para baixo */
}

.links{
    border: 1px solid #ffd0e7;
    border-radius: 20px;
    padding: 0.1rem 0.6rem;
    background-color: #ffebf5;
}

#about{
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

#about::after{
    content: ''; /* Essencial para o pseudo-elemento ser renderizado */
    position: absolute;
    bottom: 0; /* Posiciona a linha na parte inferior da div */
    left: 0;
    width: 100%; /* A linha terá a largura total da div */
    height: 1px; /* Espessura da linha */
    background-color: #ffa9ba; /* Cor da linha (pode ser qualquer cor que combine com seu design) */
    /* Transform para mover a linha para baixo */
    transform: translateY(0px); /* Move a linha 20px para baixo */
}

#img-about{
    width: 170px;
    border-radius: 30px;
}

.bot{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#doces{
    width: 80%;
}


.top{
    position: relative;
    padding: 0 10px;
    margin-bottom: 30px;
}

.top h2{
    font-size: 1.7rem;
    color: #f781b6;
}

.top h2, .top p{
    font-weight: 700;
}

.top p{
    color: #eaaac7;
    font-family: "Caveat", cursive;
    font-size: 1rem;
}

.top::after{
     content: ''; /* Essencial para o pseudo-elemento ser renderizado */
    position: absolute;
    bottom: 0; /* Posiciona a linha na parte inferior da div */
    left: 0;
    width: 95%; /* A linha terá a largura total da div */
    height: 1px; /* Espessura da linha */
    background-color: #ffb1c5; /* Cor da linha (pode ser qualquer cor que combine com seu design) */
    /* Transform para mover a linha para baixo */
    transform: translateY(15px); /* Move a linha 20px para baixo */
}

.hidden{
    opacity: 0;
}


@keyframes fade {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadetopbot {
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


