header{
    padding: 1rem;
    animation: fadetopbot 1.4s ease-in-out forwards;
    animation-delay: 400ms;
}

.container{
    padding: 0 1rem;
}

.title-header{
    font-size: 1.6rem;
    font-weight: 500;
}

.text-light{
    color: var(--link-color);
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 30px;
}

img{
    width: 390px;
}

nav{
    position: relative;
    top: -20px;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    color: white;    
}

.chibi{
    animation: fade 1s ease-in-out forwards;
    animation-delay: 300ms;
}


.itens-nav{
    background-color: var(--fundo-elementos);
    padding: .3rem 1rem;
    border-radius: 14px;
    font-weight: 600;
    font-size: .9rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.itens-nav a{
    color: white;
}



.itens-nav:nth-child(1){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 100ms;
}
.itens-nav:nth-child(2){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 200ms;
}
.itens-nav:nth-child(3){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 400ms;
}
.itens-nav:nth-child(4){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 600ms;
}

.links:nth-child(1){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 100ms;
}
.links:nth-child(2){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 200ms;
}
.links:nth-child(3){
    animation: fade 0.5s ease-in-out forwards;
    animation-delay: 400ms;
}


.bg-rosa{
    background-color: var(--fundo-rosa-elementos);
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

li{
    cursor: pointer;
}

li .bi{
    margin-right: 10px;
}

li .bi, li .t{
    font-size: 1.2rem;
    color: var(--fundo-elementos);
    transition: 0.5s ease-in-out;
}

li:hover .t,
li:hover .bi {
    color: var(--fundo-rosa-elementos);
}

.quadro{
   background: url(/assets/images/quadrocut.png) no-repeat;
   background-position: center;
   background-size: cover;
   width: 90%;
   margin: auto auto;
   padding: 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hidden{
    opacity: 0;
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadetopbot {
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
